/********** Base styles **********/
* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 175%;
}

div#container {
  position: relative;
  border: 0px gray;
}

div#frame {
  background-color:gray;
  margin: 10px;
  border: 1px solid black;
}

p {
  height: 150px;
  margin-right: 10px;
  margin-left: 10px; */
  font-family: Helvetica;
  color:black;
}

.food_type {
  font-size: 125%;
  width:fit-content;
  height: fit-content;
  padding: 5px;
  margin: 0px;
  float: right;
  top: 0px;
  border: 1px solid black;
  margin: -1px;
}
.chicken {
  background-color:#b6d11b;
}
.beef {
  background-color:#1b87d0;
}
.sushi {
  background-color:#d01bd0;
}

.food_text {
  position: relative;
  font-size: 100%;
  margin-top: 40px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}


/********** desktop only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    position: relative;
    border: 1px solid black;
  }
  .col-lg-4 {
    width: 33%;
  }
}

/********** tablet only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    position: relative;
    border: 1px solid black;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-6:last-child:nth-child(odd) {
    width: 100%;
  }
}

/********** mobile only **********/

@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    position: relative;
    border: 1px solid black;
  }
  .col-sm-12 {
    width: 100%;
  }
}