/********** Base styles **********/
* {
  box-sizing: border-box;
}

/** HEADER **/

.navbar-default#header-nav {
  background-color: #999999;
  border-radius: 0;
  border-width: 0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { 
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-default .navbar-toggle .icon-bar {
  border-color: black;
  background-color: black;
}

.navbar-collapse {
  text-align: center;
  color: black;
  background-color: white;
  border-width: 0px;
}

ul#nav-list  {
  list-style-type: none;
  padding-top: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 2px solid black;
}

ul#nav-list li {
  border-bottom: 2px solid black;
  margin-left: 5px;
  margin-right: 5px;
}

ul#nav-list li:last-child {
  border-bottom: none
}

button#menu {
  background-color: #999999;
  border: 2px solid black;
  color: black;
}

#main-content {
  background-color: #999999;
  margin-left: 40px;
  margin-right: 40px;
}
